.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(
    16px + 1vmin
  ); /* Adjusted base font size for better readability */
  color: white;
  padding: 20px; /* Added padding for spacing */
  text-align: center; /* Ensure text alignment is center */
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.App-link:hover {
  color: #21a1f1; /* Change color on hover for better interaction */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .App-header {
    font-size: calc(18px + 1vmin); /* Increase font size on larger screens */
    padding: 40px; /* More padding for better spacing */
  }

  .App-logo {
    height: 20vmin; /* Reduce logo size on larger screens */
  }
}
